  .cartapp {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(210, 219, 221, 0.267);
  }
  
  img {
    width: 100%;
    /* position: fixed; */
    object-fit: contain;
    /* position: unset; */
  }


  