  .cartapp {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(210, 219, 221, 0.267);
  }
  
  img {
    width: 100%;

  }
  
  .promo-image {
    height: 120px;
    width: 120px;
    position: unset;
    object-fit: cover;
  }

  .prod-image {
    height: 350px;
    width: 300px;
    position: unset;
    object-fit: unset;
    margin: 1rem;
    flex: 0.3;
  }


   /* .delete-cart-button {
      -webkit-appearance: auto;
      -moz-appearance:    unset;
      appearance: unset;
   }  */


  /* .cartItem__deleteBtn {
    appearance: unset;
    padding: 10px 17px;
    color: red;
    background: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .cartItem__deleteBtn:hover,
  .carItem__deleteBtn:active,
  .carItem__deleteBtn:focus {
    background: #171717;
    transform: scale(1.2);
  } */