* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: montserrat, sans-serif; */
    /* color: black; */
}

input, button {
    /* appearance: none; */
    /* background: none; */
    /* border: none; */
    /* outline: none; */
    /* color: black; */
    
}

.form-outer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a5a9ac;
}

form {
    display: block;
    position: relative;
}

form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    /* background-image: linear-gradient(to bottom right, #FFCE00, #0000FF); */
}

form .form-inner {
    position: relative;
    display: block;
    background-color: #FFF;
    padding: 30px;
    z-index: 2;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 40%), 10px 10px 10px rgb(0 0 150 / 40%);
}

form .form-inner h2 {
    color: #888;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label {
    display: block;
    color: #666;
    font-size: 17px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color: #FE4880
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #d8d8d8;
    border-radius: 8px;
    transition: 0.4s;
   
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"], .welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    /* background-image: linear-gradient(to right, #a5a9ac 50%, ##a5a9ac 50%, #11BCC2 ); */
    background-color: #11BCC2;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

form .form-inner input[type="submit"]:hover, .welcome button:hover {
    background-position: 100% 0%;
}

a.link-login:link, a.link-login:visited {
    color: #666;
    font-size: 13px;
    padding-top: 20px;
    display: inline-block;
}

a.link-login:hover {
    color: #11BCC2;
}

.error {
    color: red;
    position: relative;
    top: 165px;
    left: 100px;
}

.cartItem__deleteBtn {
    appearance: auto;
    padding: 10px 17px;
    color: red;
    /* background: #f4f4f4; */
    border: 1px solid #171717;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .cartItem__deleteBtn:hover,
  .carItem__deleteBtn:active,
  .carItem__deleteBtn:focus {
    background: #171717;
    transform: scale(1.2);
  }

/* .welcome {
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 40%), 10px 10px 10px rgb(0 0 150 / 40%);
} */

/* .welcome h2{
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome h2 span {
    color: #FE4880;
    font-weight: 700;
} */



