.homescreen {
  max-width: 1300px;
  margin: 1rem auto;
}

.homescreen__title {
  font-size: 1.5rem;
  color: rgb(23,89,94);
  margin-bottom: 1rem;
  margin-left: 8px;
}

.homescreen__products {
  display: grid;
  /* position: unset; */
  grid-template-columns: repeat(4, 1fr);
}

/* @media (max-width: 1232px) {
  .homescreen__products {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 950px) {
  .homescreen__products {
    grid-template-columns: repeat(2, auto);
  }
} */